<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372059611943-ru2im9te6pkskn4rip5ehm4u8v3ldsh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372059611943-ru2im9te6pkskn4rip5ehm4u8v3ldsh0</string>
	<key>API_KEY</key>
	<string>AIzaSyADBZZsYVmARTEUlgujmHjO7fb-JLQ7STI</string>
	<key>GCM_SENDER_ID</key>
	<string>372059611943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anitotechnology.MySubscriptions</string>
	<key>PROJECT_ID</key>
	<string>mysubscriptions-473ed</string>
	<key>STORAGE_BUCKET</key>
	<string>mysubscriptions-473ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372059611943:ios:1dfd4c83ed43e878927f02</string>
	<key>DATABASE_URL</key>
	<string>https://mysubscriptions-473ed.firebaseio.com</string>
</dict>
</plist>